compagnia-aerea/server/internal.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="InternalService.wsdl" xmlns:xsd1="InternalService.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="InternalService.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="InternalService.xsd" xmlns:sch="InternalService.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="addLMOffer">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="1" name="destCountry" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="depaCountry" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="num_seat" type="xs:int"/>
            <xs:element maxOccurs="1" minOccurs="1" name="price" type="xs:double"/>
            <xs:element maxOccurs="1" minOccurs="1" name="destCity" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="depaCity" type="xs:string"/>
            <xs:element maxOccurs="1" minOccurs="1" name="timestamp" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="OfferLM">
    <wsdl:part name="body" element="xsd1:addLMOffer">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="InternalPort">
    <wsdl:operation name="addLMOffer">
      <wsdl:input message="tns:OfferLM">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InternalPortSOAPBinding" type="tns:InternalPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addLMOffer">
      <soap:operation soapAction="addLMOffer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InternalPortService">
    <wsdl:port name="InternalPortServicePort" binding="tns:InternalPortSOAPBinding">
      <soap:address location="localhost:5011"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
