sistema-bancario/server/newBank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="BankService.wsdl" xmlns:xsd1="BankService.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="BankService.wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="BankService.xsd" xmlns:sch="BankService.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="compensation"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="concludePayment"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="requestPayment"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="cost" type="xs:double"/><xs:element maxOccurs="1" minOccurs="1" name="paymentID" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="secretNumber" type="xs:int"/><xs:element maxOccurs="1" minOccurs="1" name="card" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="requestPaymentResponse"><xs:complexType><xs:sequence><xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:boolean"/><xs:element maxOccurs="1" minOccurs="1" name="sid" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>
  </wsdl:types>
  <wsdl:message name="PaymentRequest">
    <wsdl:part name="body" element="xsd1:requestPayment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConcludePaymentMessage">
    <wsdl:part name="body" element="xsd1:concludePayment">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PaymentResponse">
    <wsdl:part name="body" element="xsd1:requestPaymentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CompensationMessage">
    <wsdl:part name="body" element="xsd1:compensation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BankPort">
    <wsdl:operation name="compensation">
      <wsdl:input message="tns:CompensationMessage">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="concludePayment">
      <wsdl:input message="tns:ConcludePaymentMessage">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="requestPayment">
      <wsdl:input message="tns:PaymentRequest">
    </wsdl:input>
      <wsdl:output message="tns:PaymentResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankPortSOAPBinding" type="tns:BankPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="compensation">
      <soap:operation soapAction="compensation" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="concludePayment">
      <soap:operation soapAction="concludePayment" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="requestPayment">
      <soap:operation soapAction="requestPayment" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankPortService">
    <wsdl:port name="BankPortServicePort" binding="tns:BankPortSOAPBinding">
      <soap:address location="localhost:5001"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
